VITE_API_BASE_URL=https://REPLACE.execute-api.ap-southeast-1.amazonaws.com/dev
VITE_AUTH_MODE=university-sso
VITE_SSO_ISSUER=https://REPLACE-WITH-UNIVERSITY-ISSUER
VITE_SSO_CLIENT_ID=REPLACE-WITH-UNIVERSITY-CLIENT-ID
VITE_SSO_AUTHORIZE_URL=https://REPLACE-WITH-UNIVERSITY-AUTHORIZE-ENDPOINT
VITE_SSO_TOKEN_URL=https://REPLACE-WITH-UNIVERSITY-TOKEN-ENDPOINT
VITE_SSO_REDIRECT_URI=https://REPLACE-WITH-CLOUDFRONT-DOMAIN
VITE_SSO_SCOPE=openid profile email
